.button{
    height: 34px;
    width: 60px;
    margin-top: 4px;
    margin-left: 314px;
}
input{
    height: 34px;
    width: 34px;
}
.normalesdiv{
    height: 40px;
    width: 40px;
    float: left;
    margin: 0px;
    padding: 0px;
}
.rand{
    height: 364px;
    width: 370px;
    display: inline-block;
    border: 4px solid black;
}
.rechterrand{
    border-right: 4px solid black;
}
.untererrand{
    border-bottom: 2px solid black;
}