.button{
    height: 34px;
    width: max-content;
    margin: auto;
}
input{
    height: 100%;
    width: 100%;
    padding: 0px;
    outline: none;
    border: none;
}
.normalesdiv{
    height: 38px;
    width: 38px;
    float: left;
    margin: auto;
    padding: 0px;
    border: black solid 1px;

}
.rand{
    height: 100%;
    width: 362px;
    display: inline-block;
    border: 4px solid black;
}
.rechterrand{
    border-right: 2px solid black;
}
.untererrand{
    border-bottom: 2px solid black;
}

.sudoku_input{
    text-align: center;
    font-size: 30px;
}

.game {
    margin: auto;
    width: max-content;
}
h1{
    margin: auto;
    width: max-content;
    font-family: "Comic Sans MS";
}
.knoepfe{
    margin: auto;
    width: max-content;
    font-family: sans-serif;
}
.headline{
    margin: auto;
    width: 100%;
    border-bottom: 3px black solid;
    margin-bottom: 20px;
    background-color: lightgray;
}
p{
    margin: auto;
    color: red;
}



